/* ***** commons ****** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1170px;
}

a {
    text-decoration: none;
}

/* ***** header ***** */
header {
    height: 80px;
    line-height: 80px;
    background-color: #255ee9;
    font-weight: bold;
}

#logo, nav {
    float: left;
}

nav {
    width: 50%;
    text-align: center;
}

#logo img {
    vertical-align: middle;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav a {
    color: white;
    margin: 0 10px;
}

nav ul li a:hover {
    text-decoration: underline white;
}

#logo, .accedi{
    width: 25%;
} 

#accedi {
    float: right;
}

#accedi a:hover {
    color: #255ee9;
    box-shadow: 6px 3px 14px -2px rgba(0,0,0,0.39);
}

.button {
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    background-color: white;
}

/* ***** jumbotron ****** */
.jumbotron {
    height: 550px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
}


/* ***** debug ***** */
/* .debug header {
    background-color: blue;
} */

/* .container {
    background-color: pink;
} */