/* ***** commons ****** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1170px;
}

a {
    text-decoration: none;
}

.button {
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.white {
    background-color: #fff;
    color: black;
}

.black {
    background-color: #000;
    color: #fff;
}

.big {
    font-size: 20px;
    padding: 18px 22px;
    border-radius: 41px;
}

/* ***** header ***** */
header {
    height: 80px;
    line-height: 80px;
    background-color: #255ee9;
    font-weight: bold;
}

#logo, nav {
    float: left;
}

nav {
    width: 50%;
    text-align: center;
}

#logo img {
    vertical-align: middle;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav a {
    color: white;
    margin: 0 10px;
}

nav ul li a:hover {
    text-decoration: underline white;
}

#logo, .accedi{
    width: 25%;
} 

#accedi {
    float: right;
}

#accedi a:hover {
    color: #255ee9;
    box-shadow: 6px 3px 14px -2px rgba(0,0,0,0.39);
}

#accedi .button {
    color: black;
    background-color: white;
}

/* ***** jumbotron ****** */
#jumbotron {
    height: 550px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    text-align: center;
    position: relative;
}

#jumbotron .jumbo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

#jumbotron h1 {
    font-size: 60px;
    color: white;
    margin-bottom: 30px;
}

#jumbotron p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
}

#jumbotron a {
    display: inline-block;
}

#jumbotron i {
}

#jumbotron .button {
    margin: 0 10px;
}


/* ****** main ****** */

/* **** section1 ***** */
.section1 {
    margin-top: 60px;
}

.section1 img {
    width: 70%;
    display: inline-block;
    float: left;
}

.section1-text {
    float: right;
    width: 30%;
    
}

.section1-text h2 {
    font-size: 40px;
    margin: 30px 0;

}

.section1-text p {
    line-height: 1.6;
    font-size: 18px;

}

/* ***** section2 ****** */
.section2 {
    margin-top: 120px;
}

.section2 img {
    width: 70%;
    display: inline-block;
    float: right;
}

.section2-text {
    float: left;
    width: 30%;
    
}

.section2-text h2 {
    font-size: 40px;
    margin: 30px 0;

}

.section2-text p {
    line-height: 1.6;
    font-size: 18px;

}


/* ***** debug ***** */
/* .debug header {
    background-color: blue;
} */

/* .container {
    background-color: pink;
} */